<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" *ngIf="loanForm.invalid && loanForm.errors?.samePerson">Cannot select the same person</div>
    <div>
      <label for="loaner">
        Loaner
      </label>
      <select formControlName="loaner">
        <option *ngFor="let person of persons" [ngValue]="person.id">
          {{ person.firstName }} {{ person.lastName }}
        </option>
      </select>
    </div>
    <div>
      <label for="loanee">
        Loanee
      </label>
      <select formControlName="loanee">
        <option *ngFor="let person of persons" [ngValue]="person.id">
          {{ person.firstName }} {{ person.lastName }}
        </option>
      </select>
    </div>

    <div>
      <label for="amount">
        Amount
      </label>
      <input id="amount" type="number" formControlName="amount">
    </div>
  
    <button class="button" type="submit" [disabled]="!loanForm.valid" >Create</button>
</form>