<h1>Persons</h1>

<div *ngFor="let person of persons">
    <a class="nav-link text-dark" [routerLink]="['/balance', person.id]"
      ><h3>{{ person.name }} {{ person.lastName }}</h3>
    </a>
</div>
