<h1>Balance</h1>
<table class="table">
    <thead>
        <th scope="col">Balance</th>
        <th scope="col">Outstanding</th>
        <th scope="col">Loans Given</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ balance?.balance }}</td>
            <td>{{ balance?.debt }}</td>
            <td>{{ balance?.loaned }}</td>
        </tr>
    </tbody>
</table>
<h3>Active Loans</h3>
<table class="table">
    <thead>
        <th scope="col">Loaner</th>
        <th scope="col">Loanee</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let loan of loans">
            <td>{{ getPersonName(loan.loanerId) }}</td>
            <td>{{ getPersonName(loan.loaneeId) }}</td>
            <td>{{ loan.amount }}</td>
            <td><button class="button" type="submit" (click)="[markLoanPaid(loan.id)]" >Mark As Paid</button></td>
        </tr>
    </tbody>
</table>
