<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">
        First Name
      </label>
      <input id="firstName" type="text" formControlName="firstName">
    </div>
  
    <div>
      <label for="lastName">
        Last Name
      </label>
      <input id="lastName" type="text" formControlName="lastName">
    </div>
  
    <button class="button" type="submit" [disabled]="!personForm.valid">Create</button>
</form>